@model IEnumerable<EduPointStudApp.Models.Luokkahuone>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LuokanNimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LuokanKoodi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LuokanNimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LuokanKoodi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LuokkaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LuokkaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LuokkaID })
        </td>
    </tr>
}

</table>
